<div class="row">
    <div class="col-md-4 mt-md-0 mt-4">
        <mat-card class="p-0">
            <mat-card-content>
                <img class="profileImage" [src]="studentObj.profileImage" [alt]="studentObj.studentName">
                <div class="p-4">
                    <h3 class="m-0"><b>{{studentObj.studentName}}</b>({{studentObj.studentRole}})</h3>
                    <p>{{studentObj.profileDescription}}</p>
                    <mat-card-actions class="m-0 p-0 d-flex justify-content-between">
                        <button routerLink="edit" mat-raised-button color="primary">Edit</button>
                        <button mat-raised-button color="warn">Remove</button>
                    </mat-card-actions>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-8">
        <mat-card class="mt-md-0 mt-4">
            <mat-card-content>
                <h2 class="m-0 font-weight-bold">Basic Information</h2>
                <p class="m-0">Student Id: {{studentObj.studentId}}</p>
                <p class="m-0">Student Role: {{studentObj.studentRole}}</p>
                <p class="m-0">Status: <small class="badge" [ngClass]="{
                    'badge-success': studentObj.isActive,
                    'badge-danger': !studentObj.isActive
                }">{{studentObj.isActive ? 'Active' : 'InActive'}}</small></p>
            </mat-card-content>
        </mat-card>

        <mat-card class="mt-4">
            <mat-card-content>
                <h2 class="m-0 font-weight-bold">Skills</h2>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let skill of studentObj.skills">{{skill}}</mat-chip>
                </mat-chip-list>

            </mat-card-content>
        </mat-card>

        <mat-card class="mt-4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="m-0 font-weight-bold">Current Address</h2>
                        <p>{{studentObj.address.current.country}}</p>
                        <p>{{studentObj.address.current.city}}</p>
                        <p>{{studentObj.address.current.state}}</p>
                        <p>{{studentObj.address.current.zipcode}}</p>
                    </div>
                    <div class="col-md-6">
                        <h2 class="m-0 font-weight-bold">Permanent Address</h2>
                        <p>{{studentObj.address.permanent.country}}</p>
                        <p>{{studentObj.address.permanent.city}}</p>
                        <p>{{studentObj.address.permanent.state}}</p>
                        <p>{{studentObj.address.permanent.zipcode}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>